



/* header working title for book. centered image and sets height. (so it doesnt show white around image) */
.home-header {
background-image: url(http://i64.tinypic.com/fda9g0.jpg) ;
height: 420px;
background-position: center;
background-size: cover;
text-align: center;
}

body{
background-color: rgb(142, 215, 240);
margin: 0px 10px;

}

.title {
text-align: right;
font-size: 150px;
color: lightskyblue

}

.author {
font-size: 60px;
color: lightskyblue



/* starting css for body*/
}
h2{
text-align: center

}

.Louisville {
margin: auto;
}

#Lou {
margin: auto;
    height: 500px;
    width: 700px;
}
#Loudiv {
    margin: auto;
    height: 500px;
    width: 700px;
}


/*media query stuff.... want louisville picture and abotu paragraph to float next to each other on wider screens*/


@media (max-width: 1000px){
#lou {
    width: 400px;
    float: right;
}
.Louisville{
width: 400px;
    clear: left;
}

}